

<div class="ui grid container ">
 
<!---
 <div class="sixteen wide column">	
<div class="ui icon positive message">
<i class="close icon"></i>
  <i class="heart icon"></i>
  <div class="content">
    <div class="header">
      Have you heard about our mailing list?
    </div>
    <p>Get the best news in your e-mail every day.</p>
  </div>
</div>
 </div>
 -->

  <div class="four wide column">Your new proposal!
<h2>CreateProposal</h2>
<p>    Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.
</p>

<div class="ui progress success"  data-value="1" data-total="5"  id="example1">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Everything worked, your file is all ready.</div>
</div>
<button routerLink="/home" routerLinkActive="active" class="ui button">Cancel</button>

  <button routerLink='steptwo' class="ui inverted green button">Next</button>

</div>

<div class="twelve wide column">
  	<div class="ui grid container">
		<div class="eight wide coluumn">
			<sm-card class="ui card" image="http://semantic-ui.com/images/avatar2/large/kristy.png">
			 data om kalle
			  <sm-dropdown title="Sales rep." class="pointing floating fluid labeled icon button">
			    <sm-item>Magnus Selverlov</sm-item>
			      <sm-item>Kalle Svensson</sm-item>
			        <sm-item>Marcus Egor</sm-item>
			         <sm-item> <i class="plus icon"></i>Add new</sm-item>
			</sm-dropdown>
			</sm-card>
		</div>


		<div class="eight wide column">
	 <h2>Reciever</h2>
		<div class="ui big form">
		  <div class="two fields">
		    <div class="field">
		      <label>First Name</label>
		      <input placeholder="First Name" type="text">
		    </div>
		    <div class="field">
		      <label>Last Name</label>
		      <input placeholder="Last Name" type="text">
		    </div>
		  </div>
		  <div class="one field">
		    <div class="field">
		      <label>Company</label>
		      <input placeholder="First Name" type="text">
		    </div>
		  </div>
		  <div class="two fields">
		    <div class="field">
		      <label>Phone</label>
		      <input placeholder="First Name" type="text">
		    </div>
		      <div class="field">
		      <label>Email</label>
		      <input placeholder="First Name" type="text">
		    </div>
		       
		  </div>
				  <div class="two fields">
			<div class="field">
		      <label>Adress 1</label>
		      <input placeholder="First Name" type="text">
		    </div>
		      <div class="field">
		      <label>Adress 2</label>
		      <input placeholder="First Name" type="text">
		    </div>
  </div>
		
		</div>

	</div>
</div>
</div>
</div>
<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  Description
</h4>
<div class="ui container center aligned">
 <button class="circular green ui icon massive button">
  <i class="icon angle right"></i>
</button>
</div>

