

<div class="ui grid container ">
 
<!---
 <div class="sixteen wide column">	
<div class="ui icon positive message">
<i class="close icon"></i>
  <i class="heart icon"></i>
  <div class="content">
    <div class="header">
      Have you heard about our mailing list?
    </div>
    <p>Get the best news in your e-mail every day.</p>
  </div>
</div>
 </div>
 -->

  <div class="four wide column">Your new proposal!
<h2>Step2</h2>
<p>    Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors
</p>
 <sm-dropdown title="Sales rep." class="pointing floating fluid labeled icon button">
			    <sm-item>Magnus Selverlov</sm-item>
			      <sm-item>Kalle Svensson</sm-item>
			        <sm-item>Marcus Egor</sm-item>
			         <sm-item> <i class="plus icon"></i>Add new</sm-item>
			</sm-dropdown>
			<p></p>
<sm-search class="fluid" placeholder="Search..." (onSearch)="elementIcon.innerText = $event" [icon]="true" 
></sm-search>

			<p>    Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors
</p>

<div class="ui progress success"  data-value="5" data-total="5">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Everything worked, your file is all ready.</div>
</div>
<button (click)="goBack()" class="ui button">Back</button>

  <button class="ui inverted green button">Next</button>

</div>


<div class="twelve wide column">


    <div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Helen Troy</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Elliot Fu</a>
      </div>
    </div>
  </div>
</div>

   <div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Helen Troy</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Elliot Fu</a>
      </div>
    </div>
  </div>
</div>


</div>

</div>
